TextKitNotepad.xcodeproj/project.xcworkspace/contents.xcworkspacedata
TextKitNotepad.xcodeproj/project.xcworkspace/xcuserdata/ceberhardt.xcuserdatad/UserInterfaceState.xcuserstate
TextKitNotepad.xcodeproj/project.xcworkspace/xcuserdata/ceberhardt.xcuserdatad/xcdebugger/Expressions.xcexplist
TextKitNotepad.xcodeproj/xcuserdata/ceberhardt.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
